body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 100px;
  margin-bottom: 100px;
  background-color: whitesmoke;
}

.tableauPlaceholder {
  margin-left: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

Nav ul a {
  text-decoration: underline;
  font-size: 35px;
  background: lightblue;
  border-style: solid black;
  box-sizing: border-box;
  margin-left: 25px;
}

.hrpurpose {
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}
